.box .password{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box .password p{
    font-size: 22px;
}

.box .password .validations{
    display: flex;
    flex-direction: column;
}

.password .validations .check{
    height: 15px;
    width: 15px;
    background-color: var(--primary-border);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password .validations .checks {
    display: flex;
    align-items: center;
    gap: 20px;
}

.password .validations .mark .mark__line{
    height: 20px;
    width: 3px;
    background-color: var(--primary-border);
}
.password .validations .mark{
    display: flex;
    justify-content: center;
    width: 15px;
}

.password .validations .checks p{
    font-size: 12px;
    color: var(--text-placeholder);
}