

.box .email {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 22px;
}

.box .email span {
  color: red;
}



.box .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}



.box .next{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.box .next a{
    color: var(--primary-button);
    text-decoration: none;
}